body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

* {
    margin: 0;
    transition: 0.18s;
}

.header {
    color: #00c900;

    text-shadow: #05b005 2px 2px 20px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.main_cons {
    background-color: black;
    text-align: center;
    border-radius: 32px;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
}

.data_inp_con {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 5%;

    gap: 10px;

    width: 90%;
    height: 30%;

    border: none;
    border-radius: 32px;

    background-color: transparent;
}
.data_inp_con label {
    color: #069d9d;
    text-shadow: #06b4b4 2px 2px 20px;

    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.data_inp_con input {
    background-color: black;
    color: darkred;
    text-shadow: #a10101 2px 2px 20px;
    text-align: center;
    padding: 10px 10px;

    border: solid whitesmoke 2px;
    border-radius: 32px;

    font-size: 32px;
    font-family: fantasy;
}
.data_inp_con button {
    position: relative;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 15px 10px;
    background-color: #a10101;
    color: whitesmoke;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 32px;
}
.data_inp_con button:hover {
    opacity: 80%;
}

.data_inp_con button:active {
    opacity: 65%;
}