 <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RED ROOM</title>
	<link rel="stylesheet" href="/css_files/main-style.css">
	<link rel="stylesheet" href="/css_files/responsive.css">
	<link rel="shortcut icon" href="/assets/bad.ico" type="image/x-icon">
</head>
<body style="display: flex;justify-content: center;
		align-items: center;background-image: url('/assets/bg.jpg');
		background-attachment: fixed;background-position: center;
		background-repeat: no-repeat;background-size: cover;">

	<h1>DARK WEB</h1>
	<div></div>
	<video style="width: 85%;" src="/assets/red.mkv" autoplay controls></video>
</body>
</html>