<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
  <title>Design</title>
</head>
<body>
  <!-- Comment everything you can and put a plan first -->
</body>
</html>