<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark Web</title>
  <link rel="stylesheet" href="/css_files/main-style.css">
	<link rel="stylesheet" href="/css_files/responsive.css">
	<link rel="shortcut icon" href="/assets/bad.ico" type="image/x-icon">
</head>
<body style="display: flex;justify-content: center;flex-direction: column;
		align-items: center;background-image: url('/assets/bg.jpg');
		background-attachment: fixed;background-position: center;
		background-repeat: no-repeat;background-size: cover;">
  <div style="background-color: rgba(0, 0, 0, 0.795);padding: 10px;border: none;border-radius: 9px;">
    <h1 style="color: darkred;">WELCOME TO THE DARK WEB! [T3CHN0]</h1>
    <br>
    <a style="color: rgb(47, 255, 54);font-size: larger;" href="/darkweb/downloadvid">Download Link</a>
  </div>
</body>
</html>