*
{
  margin: 0;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 0;

  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.sp-gap
{
  width: 100%;
  height: 4px;
  
  background: linear-gradient(to top, rgb(7, 51, 109), rgb(15, 5, 90));
}

.main-con-neon-border
{
  padding: 4px;

  /* background: linear-gradient(); */
  background: linear-gradient(to right bottom, rgb(1, 1, 183), rgb(154, 1, 1));

  border: none;
  border-radius: 10px;

  box-shadow: 0 0 10px rgb(109, 42, 226);
}

.main-con
{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  width: 1000px;
  height: 600px;

  background-color: black;
  background-image: url("ttk_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;

  border-style: none;
  border-radius: 10px;
}

.head
{
  width: 94%;
  height: 64px;

  border: none;
  border-radius: 18px;

  background-color: rgba(31, 70, 121, 0.652);
}

.teams-main-con
{
  display: flex;
  flex-direction: column;
  /* gap: 4px; */

  position: relative;
  top: 20px;
  
  width: 94%;
  height: auto;

  background-color: rgba(94, 158, 158, 0.252);

  border: 2px solid;
  border-radius: 0;
  box-shadow: 0 0 20px rgb(157, 2, 2);
}

.team-con
{
  width: 100%;
  height: 58px;

  border: none;

  /* background-color: rgb(102, 5, 5); */
  background: linear-gradient(to right, rgb(1, 1, 183), rgb(154, 1, 1));
}