:root
{
  /* Main Color Palettes */

  /* Official PUBG Esports Style (Dark, Professional) */
  black: #000000;
  dark-gray-background: #0F0F0F;
  section-background: #1A1A1A;
  pubg-gold: #F2A900;
  light-gray-text: #E5E5E5;
  warning-feed-red: #FF3D00;

  /* Neon Modern Esports (Flashy, energetic) */
  /* Perfect for animations, streaming overlays */
  /* Works if you want a broadcast / esports vibe like Valorant, CS2, PUBG Global events. */
  deep-black-blue: #0B0B0D;
  dark-indigo: #1B1F3B;
  neon-cyan: #09FBD3;
  warm-orange: #F5A623;
  white-text: #FFFFFF;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  transition: 0.3s;
}

*
{
  transition: 0.17s;
  padding: 0;
  margin: 0;
}