@import url("fonts/fonts.css");

:root
{
  /* Main Color Palettes */

  /* Official PUBG Esports Style (Dark, Professional) */
  --black: #000000;
  --dark-gray-background: #0F0F0F;
  --section-background: #1A1A1A;
  --pubg-gold: #F2A900;
  --light-gray-text: #E5E5E5;
  --warning-feed-red: #FF3D00;

  /* Neon Modern Esports (Flashy, energetic) */
  /* Perfect for animations, streaming overlays */
  /* Works if you want a broadcast / esports vibe like Valorant, CS2, PUBG Global events. */
  --deep-black-blue: #0B0B0D;
  --dark-indigo: #1B1F3B;
  --neon-cyan: #09FBD3;
  --warm-orange: #F5A623;
  --white-text: #FFFFFF;

  /* Tactical Military Theme (PUBG Classic) */
  /* Good for “battlefield” or “military tech” style sites. */
  --gunmetal-background: #2B2B2B;
  --military-gray-blue: #3E4A4F;
  --cool-gray: #8E9E9F;
  --desert-gold: #C8A165;
  --light-text-gray: #D9D9D9;
}

body
{
  background-color: var(--dark-indigo);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 100%;
  height: 100vh;

  transition: 0.3s;
}

*
{
  transition: 0.17s;
  padding: 0;
  margin: 0;
}