<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_files/main-style2.css">
    <link rel="stylesheet" href="/css_files/header.css">
    <link rel="stylesheet" href="/css_files/button.css">
    <link rel="stylesheet" href="/css_files/animations.css">
    <link rel="shortcut icon" href="/assets/web_logo.png" type="image/x-icon">
    <title>Home | 2M FAM</title>
    <style>
        .sec1
        {
            width: 100%;
            height: 100%;

            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: var(--nor-button-background-color);
        }
        .sec1-main-con
        {
            width: 100%;
            height: 100%;

            /* background-image: url(assets/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
            background-color: rgb(77, 3, 96); */

            background-color: black;

            border: none;
            /* border-bottom-left-radius:  18px;
            border-bottom-right-radius:  18px; */
        }
        .sec1-par
        {
            width: 450px;
            color: rgb(79, 163, 0);

            text-shadow: 0 0 25px rgb(79, 163, 0);

            font-size: 1.5rem;
            font-family: TekoSemiBold;
            
            position: relative;
            top: 37%;
            left: 17%;
            transform: translate(-50%, -50%);
        }

        .sec2
        {
            width: 100%;
        }

        .sec2-main-con
        {
            /* display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; */

            height: 700px;
            
            background-color: black;

            border: none;
        }
        .offers-con
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;

            width: 100%;
            height: 100%;

            background-color: black;

            /* border: none;
            border-radius: 18px; */

            /* box-shadow: 0 0 15px black; */
        }
        .offer-con
        {
            width: 370px;
            height: 600px;

            border: 2px solid rgb(79, 163, 0);
            border-radius: 18px;

            box-shadow: 0 0 25px rgb(79, 163, 0);
        }
    </style>
</head>
<body>
    <!-- HEADER -->
     <div class="header">
        <div class="logo-con"></div>
        <div class="header-buttons-con">
            <button class="header-button">WEBO</button>
            <button class="header-button">WEBO</button>
            <button class="header-button">WEBO</button>
            <button class="header-button">WEBO</button>
        </div>
        <div class="side-buttons">
            <button class="nor-button">Sign Up</button>
            <button class="nor-button">Log In</button>
            <button class="pro-button">Join Us</button>
        </div>
    </div>

    <!-- Section 1 -->
    <section class="sec1">
        <div class="sec1-main-con">
            <p class="sec1-par">
                This is a big web app for ESports management
                it ease the work of the managers in the ESports and
                even the teams and handle everything for you.
                <br>
                ! SORRY NOTHING IS DONE YET I JUST WANNA KNOW IF THE VIBE
                OF THE STYLE GOOD OR NOT !
            </p>
        </div>
    </section>
    
    <!-- Section 1 -->
    <section class="sec2">
        <div class="sec2-main-con">
            <div class="offers-con">
                <div class="offer-con"><h1>OFFER1</h1></div>
                <div class="offer-con"><h1>OFFER2</h1></div>
                <div class="offer-con"><h1>OFFER3</h1></div>
            </div>
        </div>
    </section>
</body>
</html>