<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MSG</title>
	<style>
		* {
			margin: 0;
		}

		body {
			display: flex;
			width: 100%;
			height: 100vh;
			overflow: hidden;

			justify-content: center;
			align-items: center;

			background-image: url("assets/bg1.jpg");
			background-attachment: fixed;
			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
		}

		.det_con {
			background-color: rgba(0, 0, 0, 0.65);
			width: 100%;
			height: auto;

			text-align: center;
		}

		.det_con h1 {
			color: #00c900;
			text-shadow: #00d200 2px 2px 20px;

			font-size: 2rem;
			font-family: Corbel;
		}

		.det_con p {
			color: #00c900;
			text-shadow: #00d200 2px 2px 20px;

			font-size: 1.5rem;
			font-family: Corbel;
		}
	</style>
</head>
<body>
	<div class="det_con">
		<h1>What Is Website This Made For?</h1>
		<br>
		<span class="par_con">
			<p>
				This website is made for hosting my programs instead of using another insecure way.
				<br>
				Thank you cause you're here.
				<br>
				I love you <span style="text-shadow: red 1px 0px 15px;">❤️</span>.
			</p>
		</span>
		<br>
		<h1 style="color: #00afaf;text-shadow: #00b7b7 2px 2px 20px">WAIT 10 Seconds & YOU WILL BE REDIRECTED</h1>
	</div>

<script>

	window.setTimeout(function (){
		window.location = "/serverdir";
	}, 10000)
</script>
</body>
</html>